$brand: #ED1F24
$deepRed: #800b03

body
	overflow-y: scroll

.tsparticles-canvas-el
	z-index: -1
.header-block
	color: white
main
	overflow-x: hidden
	position: relative
	z-index: 99
	width: 100%
	height: 100vh
	background-color: black
	background-color: #000000
	background-image: url("https://www.transparenttextures.com/patterns/subtle-grunge.png")
	// background-image: url('https://envato-shoebox-0.imgix.net/c4aa/cf5b-30d4-4196-96c3-2ec762ce26d3/1a21.jpg?auto=compress%2Cformat&fit=max&mark=https%3A%2F%2Felements-assets.envato.com%2Fstatic%2Fwatermark2.png&markalign=center%2Cmiddle&markalpha=18&w=1600&s=0d4d109e9fbe3d08953ff48db2562c73')
#tsparticles
	position: relative
	z-index: -1

.container
	max-width: 1200px
	margin: auto
	max-height: 100vh
	padding-top: 8rem
	padding: 8rem 1.5rem
	width: 100%

.section
	padding: 2rem 2rem 5rem 2rem

.header-block
	p
		line-height: 2.5rem
		margin-top: 2rem
		font-size: 18px

*
	margin: 0
	padding: 0
	box-sizing: border-box

.header-images
	margin-top: -1.25rem
	width: 100%

.columns__about,
.collection-container
	margin-top: 8rem

.about-content
	color: white

.about-title
	font-size: 3.5rem

.about-drop-date
	font-size: 2rem

.about-desc
	font-size: 18px
	line-height: 2.5rem
	margin-top: 2rem
	white-space: break-spaces

.title
	color: white
	font-size: 3.5rem

.with-underline
	display: flex
	flex-direction: column
	align-items: center
	span
		background-color: $brand
		width: 400px
		height: 4px

.footer-links
	display: flex
	justify-content: center
	align-items: center

.social-icon
	width: 20px
	height: 20px
	// padding: 2px
	// width: 70px
	// border-radius: 100%
	// background-color: white

.footer-link
	color: white
	text-decoration: underline
	padding: 0 2rem
	a
		color: white

.footer
	background-color: transparent

.content
	margin-top: 4rem
	color: white
	h1, h2, p
		color: white
	h1
		font-size: 2rem
	p
		line-height: 2
		font-size: 1.25rem

.particle
	position: relative
	width: 100px
	height: 100px
	top: -20%
	background-color: $deepRed
	position: absolute
	border-radius: 50%
	animation: fall 15s infinite

.particle::before
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	content: ''
	opacity: 0
	border-radius: 7.5px
	animation: border-pulsate 2s infinite

@keyframes fall
	0%
		top: -20%
	20%
		top: 0%
	80%
		top: 85%
	100%
		top: 100%

.particle:nth-of-type(2n)
	width: 60px
	height: 60px

.particle:nth-of-type(3n)
	width: 120px
	height: 120px

.particle:nth-of-type(1)
	left: 30%
	animation-delay: 1s

.particle:nth-of-type(2)
	left: 60%
	animation-delay: 2s

.particle:nth-of-type(3)
	left: 25%
	animation-delay: 3s

.particle:nth-of-type(4)
	left: 75%
	animation-delay: 4s

.particle:nth-of-type(5)
	left: 35%
	animation-delay: 5s

.particle:nth-of-type(6)
	left: 50%
	animation-delay: 6s

.particle:nth-of-type(7)
	left: 65%
	animation-delay: 7s

.particle:nth-of-type(8)
	left: 35%
	animation-delay: 8s

.particle:nth-of-type(9)
	left: 55%
	animation-delay: 9s

.particle:nth-of-type(10)
	left: 55%
	animation-delay: 10s

.particle:nth-of-type(11)
	left: 35%
	animation-delay: 11s

.particle:nth-of-type(12)
	left: 35%
	animation-delay: 12s

.particle:nth-of-type(13)
	left: 65%
	animation-delay: 13s

.particle:nth-of-type(14)
	left: 40%
	animation-delay: 14s

.particle:nth-of-type(15)
	left: 60%
	animation-delay: 15s

.border
	position: absolute
	background-color: $deepRed
	width: 100%
	height: 4%

.border:nth-last-of-type(1)
	top: 0
	left: 0

.border:nth-last-of-type(2)
	bottom: 0
	left: 0

+mobile
	.section
		padding: 0rem 0rem 5rem 0rem
	.columns__about, .collection-container
		margin-top: 2rem
	.about-title,
	.title
		font-size: 2rem
	.about-drop-date
		font-size: 1.5rem

	.footer
		padding: 1rem

	.footer-link
		padding: 0
	.footer-links
		justify-content: space-between
	.container
		padding-top: 2rem

.with-underline
	display: flex
	flex-direction: column
	align-items: center
	span
		background-color: $brand
		width: 200px
		height: 4px
