.tsparticles-canvas-el
	z-index: -1
.header-block
	color: white
main
	position: relative
	z-index: 99
#tsparticles
	position: relative
	z-index: -1

.container
	max-width: 1200px
	margin: auto

.section
	padding: 12rem 2rem 5rem 2rem

.header-block
	p
		line-height: 2.5rem
		margin-top: 2rem
		font-size: 18px

.header-images
	margin-top: -1.25rem
	width: 100%
